header{
    background-color: rgb(215, 233, 138);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.nombre{
    text-align: center;
    font-size:  large;
}
.header{
    text-align: center;
    font-size: large;
}
.div1{
    background-color: rgb(42, 114, 248);
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width:300px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    font-size: large;
}

.div2{
    background-color: rgb(56, 178, 235);
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width:300px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 230, 22);
    font-size: large;
}
.FORMULARIOS{
    background-color: rgb(43, 153, 226);
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    margin: 0px;
    align-items: center;
    color: yellow;
}
form fieldset{
    border: 2px;
    border-radius: 5px;
    font-weight: bold;
}
form label{
    display: block;
    margin: 10px;
    color: aliceblue;
}
.article{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
footer{
    background-color:#00796b;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
main{
    display: flex;
    justify-content: space-between;
    gap: 20px
    ;
}
figure img{
    border-radius: 10px;
    object-fit: cover;

}